.b-top-user-menu {
    height: 26px;
}
.b-top-user-menu .b-horizontal-menu {
    width: 600px;
    margin: auto;
}
.b-horizontal-menu.js-drop-down li {
    background: rgb(215, 215, 215);
}
.b-horizontal-menu.js-drop-down li:hover {
    background: rgb(243, 224, 176);
}
.b-horizontal-menu.js-drop-down > li {
    background: rgba(192, 192, 192, 0.5);
    padding-top: 2px;
}
.b-horizontal-menu.js-drop-down > li:hover {
    background: rgba(255, 218, 122, 0.50);
}
.b-horizontal-menu.js-drop-down > li:first-child {
    border-radius: 0 0 0 7px;
}
.b-horizontal-menu.js-drop-down > li:last-child {
    border-radius: 0 0 7px 0;
}
.b-horizontal-menu.js-drop-down > li li:last-child {
    border-radius: 0 0 7px 7px;
}

/*
	LEVEL ONE
*/
ul.js-drop-down {
    position: relative;
    overflow: visible;
    z-index: 10;
}
ul.js-drop-down li {
    font-weight: bold;
    float: left;
    /*zoom: 1;*/
}
ul.js-drop-down a:hover	{
    color: #000;
}
ul.js-drop-down a:active {
    color: #ffa500;
}
ul.js-drop-down li a {
    display: block;
    padding: 4px 8px;
    border-right: 1px solid #333;
    color: #222;
}
ul.js-drop-down li .gag {
    color: #222;
    padding: 4px 8px;
}
ul.js-drop-down li:last-child a {
    border-right: none;
} /* Doesn't work in IE */
ul.js-drop-down li.hover,
ul.js-drop-down li:hover {
    color: black;
    position: relative;
}
ul.js-drop-down li.hover a {
    color: black;
}


/*
	LEVEL TWO
*/
ul.js-drop-down ul {
    left: 0;
    max-width: 220px;
    min-width: 190px;
    position: absolute;
    top: 100%;
    visibility: hidden;
}
ul.js-drop-down ul li {
    font-weight: normal;
    background: #f6f6f6;
    color: #000;
    border-bottom: 1px solid #ccc;
    float: none;
}

/* IE 6 & 7 Needs Inline Block */
ul.js-drop-down ul li a {
    border-right: none;
    width: 100%;
    display: inline-block;
}

#b-search-loading__icon {
    cursor: pointer;
    display: none;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    width: 40px;
    z-index: 1104;
    background: url("../fancybox/source/fancybox_loading.gif") no-repeat center;
}
#b-search-loading__overlay {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1100;

    background-color: rgb(119, 119, 119);
    opacity: 0.7;
    cursor: pointer;
    height: 200%;
}

.b-form-table {

}
.b-form-table td, table.b-form-table tr td {
    border: 0;
    padding: 5px;
    text-align: left;
}
.b-form-table td input[type="text"],
.b-form-table td input[type="password"] {
    border: 1px solid rgba(130,130,130,0.4);
    padding: 4px;
    width: 170px;
}

.b-admin-content {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e9e8e8;
    float: left;
    padding: 10px 20px;
    width: 603px;
}

.b-admin-table th {
    padding: 5px;
}
.b-admin-table td {
    text-align: left;
}
.b-admin-table input {
    font-size: 14px;
    padding: 5px;
    width: 103px;
}

.submit input,
.b-admin-buttons li a {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background: #efefef;
    border: 1px solid #b6b6b6;
    border-radius: 3px 3px;
}
.b-admin-buttons li a {
    display: block;
    float: left;
}

.b-admin-photos__photo {
    float: left;
    margin-left: 5px;
}
.b-admin-photos__photo:first-child {
    margin-left: 0;
}
.b-admin-photos__image {
    border: 1px solid #ccc;
    height: 105px;

}
.b-admin-photos__image-link {
    display: block;
    height: 105px;
}
.b-admin-photos__buttons {
    margin-top: 5px;
}

table.items td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#content .center {
    padding-top: 10px;
}

.b-breadcrumbs {
    background: #fff;
    border: 1px solid #E9E8E8;
    color: #1B1B1B;
    font-size: 12px;
    margin: 10px auto 0;
    overflow: hidden;
    padding: 10px 15px;
    text-shadow: 1px 1px 1px rgba(1, 1, 1, 0.10);
    width: 840px;
}

.b-messages {
    padding-top: 10px;
    position: fixed;
    right: 0;
    top: 150px;
    width: 239px;
}
.b-messages__buttons {
    height: 34px;
    overflow: hidden;
    padding-right: 5px;
}
.b-messages__close-all {
    background: url("../images/b-messages__close-all--bg.png") no-repeat 97% center rgba(110, 110, 110, 0.35);
    border: 1px solid rgba(1, 1, 1, 0.25);
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.57);
    color: #fff;
    cursor: pointer;
    display: none;
    height: 18px;
    margin-bottom: 5px;
    padding: 5px 10px 5px;
    text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.83);
}
.b-messages__flashes {

}
.b-flashes {

}
.b-flashes__list-item {
    padding: 0 5px 5px 0;
}
.b-flashes__message {
    border: 1px solid rgba(1, 1, 1, 0.25);
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.57);
    color: #fff;
    padding: 12px 12px 18px;
   
}

.b-flashes__message a{ font-weight: bold}
.b-flashes__success {
    background: rgba(0, 102, 0, 0.35);
}
.b-flashes__notice {
    background: rgba(101, 117, 205, 0.35);
}
.b-flashes__error {
    background: rgba(194, 23, 23, 0.35);
}
.b-flashes__message-close {
    background: url("../images/b-flashes__message-close--bg.png") no-repeat center right;
    cursor: pointer;
    float: right;
    height: 10px;
    margin: -8px -5px 0 0;
    width: 10px;
}

.box-modal table td input.submit,
input[type=submit] {
    cursor: pointer;
}

#group-content .tab-container li {
    border-left: 1px solid rgb(168, 182, 213);
    border-top: 1px solid rgb(168, 182, 213);
    border-right: none;
    border-bottom: none;
    cursor: pointer;
    display: block;
    float: left;
    height: 45px;
    text-align: center;
    width: 120px;
}
#group-content .tab-container li.gag {
    cursor: auto;
}
#group-content .tab-container li:nth-child(4n) {
    border-right: 1px solid rgb(168, 182, 213);
    width: 122px;
}
#group-content .tab-container li:nth-last-child(-n+4) {
    border-bottom: 1px solid rgb(168, 182, 213);
}

#group-content .tab-container li a {
    display: block;
    height: 100%;
    padding-top: 12px;
    width: 100%;
}
#group-content .tab-container li.two-words a {
    padding-top: 4px;
}
#group-content .tab-container li:hover,
#group-content .tab-container li.active {
    background: linear-gradient(to top, #66B4ED 0%, #338AC9 100%);
}
#group-content .tab-container li.gag:hover {
    background: linear-gradient(to bottom, #66b4ed 0%, #338ac9 100%);
}

#group-content .tab-container li a,
#group-content .tab-container li span {
    color: #FFFFFF;
    font-size: 13px;
    text-shadow: 1px 1px 1px rgba(134, 134, 134, 0.50);
}
#group-content .tab-container li:hover span,
#group-content .tab-container li.active span {
    /*color: #000;*/
}
#group-content .tabs {
    cursor: default;
}

.b-admin-meet-proposals {

}
.b-admin-meet-proposals__list {

}
.b-admin-proposal {
    border: 1px solid #8c8c8c;
    padding: 5px;
}
.b-admin-proposal__caption {
    border-bottom: 1px solid #8c8c8c;
    margin-bottom: 7px;
}
.b-admin-proposal__right {
    float: right;
    padding-top: 6px;
    text-align: center;
    width: 25%;
}
.b-admin-proposal__left {
    width: 73%;
}
.b-admin-proposal__approve {
    margin-bottom: 5px;
}
.b-admin-proposal .non-approved {

}
.b-admin-proposal .approved {
    color: #4c974a;
}
.b-admin-proposal .deleted {
    color: #973431;
}
.b-admin-proposal__edit-field {
    border: 1px solid #919191;
    word-wrap: break-word;
    width: 100%;
}
.b-admin-proposal .edit-mode {
    display: none;
}
.b-admin-proposal__left table td:first-child {
    width: 35%;
}
.b-admin-proposal__left table td {
    vertical-align: top;
    padding-top: 4px;
}
.b-admin-proposal__left table tr:first-child td {
    padding-top: 0;
}
.yes, .no {
    background: rgb(240, 240, 240);
    border: 1px solid #A2A2A2;
    border-radius: 3px;
    color: rgb(47, 74, 100) !important;
    cursor: pointer;
    font-family: Arial, Tahoma, Sans-Serif;
    height: 28px;
    margin-left: 33px;
    padding: 2px;
    width: 110px;
}
.yes {
    width: 115px;
}
.no {

}

#step1_b, #step2_b, #step3_b, #step4_b {
    display: none;
}
/* #log, #reg {
    min-height: 179px;
} */
#log, #reg {
}

.b-registration {

}
.b-registration__enter {
    float: left;
}
.b-registration__divider {
    float: left;
    font-size: 30px;
    padding-top: 107px;
    text-align: center;
    width: 276px;
}
.b-registration__social-nets {
    float: right;
    width: 275px;
}
.b-registration__button {
    clear: both;
}
.b-registration__form-table tr {
    height: 40px;
    font-size: 14px;
}
.b-registration input {
    height: 25px;
}
.b-registration .errorMessage {
    font-size: 12px;
    color: red;
}

.b-notice-settings td {
    margin-bottom: 5px;
}

.b-meet-time-minute,
.b-meet-time-hour {
    width: auto;
}

a.enter-group {
    background: linear-gradient(to bottom, #F7CA6B 0%, #CD9112 100%) repeat;
    border: 1px solid #FBEFD6;
    display: block;
    height: 39px;
    margin-bottom: 10px;
    width: 184px;
}
a.enter-group.retire {
    height: 55px;
}
a.white:hover {
    color: #fff;
}
a.enter-group span {
    background: url("../images/button-group-icon.png") no-repeat 20px center;
    display: block;
    font-size: 16px;
    padding: 10px 0 10px 28px;
    /*width: 26px;*/
}

.b-group-ban-message,
.b-group-enter-waiting {
    padding-top: 5px;
    text-align: center;
    width: 183px;

    background: linear-gradient(to bottom, #edc06a 0%, #c38712 100%);
    border: 1px solid #ccc;
    color: #fff;
    font-size: 15px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.30);
}

.b-group-ban-message {
    height: 43px;
}

.b-group-enter-waiting {
    height: 76px;
}

.b-enter-error-message {
    background-color: white;
    border: 1px solid #3B9FE8;
    display: none;
    font-size: 12px;
    font-weight: bold;
    left: 185px;
    padding: 5px;
    position: absolute;
    top: 3px;
    width: 132px;
}

.del-group-button, .del-group-button-cancel,
.agree-button, .disagree-button,
.cancel-request-button {
    background: linear-gradient(to bottom, #C1E4FD 0%, #61B5F4 100%);
    border: 1px solid #C2DBE9;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    height: 25px;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
}
.del-group-button, .del-group-button-cancel,
.cancel-request-button {
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}
.del-group-button {
    float: right;
    margin-right: 5px;
    width: 158px;
}
.del-group-button-cancel {
    float: left;
    margin-left: 5px;
    width: 130px;
}

.b-delegate-item {
    height: 60px;
    margin-bottom: 10px;
}
.b-delegate-item__right {
    float: left;
    padding-top: 11px;
}
.b-delegate-item__avatar {
    float: left;
    margin-right: 10px;
    width: 70px;
}
.b-delegate-item__avatar-img {
    height: 60px;
    width: 70px;
}
.b-delegate-item__name {

}
.b-delegate-item__delegate {

}

.b-group-admin-form {

}
.b-group-admin-form .row .b-group-admin-form__label {
    float: left;
    padding-top: 4px;
}
.b-group-admin-form .row .b-group-admin-form__field {
    float: right;
    padding: 4px;
    width: 380px;
}
.b-group-admin-form .row .b-group-admin-form__checkbox {
    margin-top: 7px;
}
.b-group-admin-form .row {
    height: 23px;
    margin-bottom: 10px;
}
.b-group-admin-form__button,
.b-requests__button,
.b-blacklist__button,
.b-admin-proposal__approve {
    border: 1px solid #A2A2A2;
    border-radius: 3px;
    margin-top: 3px;
    padding: 2px;
}

.b-request {
    float: left;
    text-align: center;
    width: 33%;
}

.b-add-fields {

}
.b-add-fields td:last-child button {
    border: 1px solid #A2A2A2;
    border-radius: 3px;
    margin-top: 3px;
    padding: 2px;
}
.b-add-fields__delete {
    text-align: right;
}

.b-blacklist__item {
    float: left;
    height: 200px;
    margin: 3px 3px 0 0;
    text-align: center;
    width: 30%;
}

.content-block-wrap {
    position: static;
}
.content-block-wrap h2,
.sidebar-right-title {
    /*text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);*/
}

.group-control {
    background: #bababa;
    color: #343434;
    cursor: pointer;
    display: block;
    font-style: italic;
    height: 27px;
    line-height: 30px;
    margin-top: -4px;
    /*text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);*/
}



.b-admin-moderators {

}

.b-moderators-requests__caption {
    margin: 5px;
}

.b-moderator {
    margin-bottom: 7px;
    width: 220px;
}
.b-moderator__info, .b-premoderation__group-info {
    float: left;
    text-align: center;
    width: 100px;
}
.b-moderator__pic, .b-premoderation__pic {
    width: 80px;
}

.b-premoderation {
    margin-bottom: 7px;
}
.b-moderator__button {
    float: left;
    margin-top: 25px;
}
.b-premoderation__buttons {
    float: left;
    margin-top: 15px;
}
.b-premoderation__group-admin {

}

.b-premoderation-settings {
    margin-bottom: 20px;
}

.b-premoderation-warning {
    background: rgba(255, 218, 122, 0.80);
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 0 0 -151px;
    position: absolute;
    text-align: center;
    width: 150px;
}
.b-premoderation-warning__text {
    padding: 5px;
    text-shadow: 1px 1px 1px rgba(240,240,240,0.6);
}

.b-moderators-search {
    margin-top: 10px;
    width: 385px;
}
.b-moderators-search__input {
    border: 1px solid rgb(180, 180, 180);
    font-size: 13px;
    margin-top: 5px;
    padding: 5px;
    width: 311px;
}
.b-moderators-search__add {
    float: right;
}
.b-moderators-search__answer {
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
    padding: 5px;
    position: absolute;
}
.b-moderators-search__answer-unit {
    border-bottom: 1px solid rgba(80, 80, 80, 0.31);
    font-size: 13px;
    height: 20px;
    padding-top: 5px;
    width: 373px;
}
.b-moderators-search__answer-unit:last-child {
    border-bottom: none;
}
.b-moderators-search__answer-unit-name {
    width: 205px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.b-moderators-search__button {
    background: rgb(240, 240, 240);
    border: 1px solid #A2A2A2;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    height: 17px;
    margin-top: 5px;
    padding: 4px;
    text-align: center;
    width: 45px;
}

.span-link, .pseudo-link {
    color: #0e8eab;
    cursor: pointer;
}
.span-link:hover, .pseudo-link:hover {
    color: #0099ff;
}

/*#footer {
    position: static;
}*/
.relative {
    position: relative;
}
.add-event {
    height: 42px;
}

.organizers__contact-button {
    background: url("../images/envelope.png") no-repeat;
    cursor: pointer;
    float: right;
    height: 12px;
    width: 20px;
}
.organizers__contact-button:hover {
    background: url("../images/envelope-hover.png") no-repeat;
}

.box-modal {
    position: relative;
}

.b-delete-group__divider {
    border-top: 1px solid #666;
    height: 15px;
    margin: 10px 0;
}
.b-delete-group__divider-text {
    background: #fff;
    color: #666666;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin: -9px auto 0;
    text-align: center;
    width: 75px;
}

.checkbox-label {
    cursor: pointer;
}

.box-modal {
    width:540px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
}

.b-little-notice {
    font-size: 12px;
}

.b-create-group__caption {
    font-weight: bold;
    margin-bottom: 5px;
}
.b-create-group__button {
    background: #3b9fe8;
    border: 1px solid #d5d2d2;
    border-radius: 4px;
    height: 29px;
    display: block;
    padding: 6px 9px;
}
.b-create-group__button:hover {
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.4);
}
#create-button a:hover {
    color: #e8dfe3;
}

.b-search-pagination {
    margin-bottom: 20px;
}
.b-search-pagination__list {
    margin: auto;
    width: 300px;
}
.b-search-pagination__item {
    float: left;
    font-size: 18px;
    margin-left: 4px;
}
.b-search-pagination__item:first-child {
    margin-left: 0;
}
.b-search-pagination__item-link,
.b-search-pagination__previous,
.b-search-pagination__next {

}
.b-search-pagination__item-link:hover {
    text-decoration: underline;
}
